[submodule "src/llama-cpp"]
	path = src/llama-cpp
	url = https://github.com/ggml-org/llama.cpp
	branch = master
[submodule "src/ik-llama-cpp"]
	path = src/ik-llama-cpp
	url = https://github.com/ikawrakow/ik_llama.cpp
