[Unit]
Description=Hydra Coordinator
Requires=hydra-store.service
After=hydra-store.service

[Container]
ContainerName=hydra-coordinator
Image=localhost/hydra-coordinator:latest
Network=host
Environment=HYDRA_COORD_HOST=0.0.0.0
Environment=HYDRA_COORD_PORT=9000
Environment=HYDRA_COORD_STORE_HOST=localhost
Environment=HYDRA_COORD_STORE_PORT=9500
Environment=HYDRA_COORD_LOG_LEVEL=DEBUG
Environment=HYDRA_COORD_RUN_MODE=concurrency
Environment=HYDRA_COORD_LLAMA_REQUEST_TIMEOUT_S=1800
Environment=HYDRA_COORD_WORKERS=[{"name":"rtx","host":"localhost","rpc_port":9601,"llama_url":"http://localhost:8080","worker_type":3,"slots":2,"prefill_priority":1,"decode_priority":2,"decode_speed_tps":200},{"name":"p100","host":"localhost","rpc_port":9602,"llama_url":"http://192.168.122.21:8086","worker_type":2,"slots":1,"prefill_priority":2,"decode_priority":1,"decode_speed_tps":28}]
HealthCmd=["/bin/bash", "-c", "exec 3<>/dev/tcp/localhost/9000"]
HealthInterval=10s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=5s
Notify=healthy

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
