[Unit]
Description=Hydra Agent P100
BindsTo=hydra-core-pod.service
Requires=hydra-store.service
After=hydra-core-pod.service hydra-store.service

[Container]
ContainerName=hydra-agent-p100
Image=localhost/hydra-agent:latest
Pod=hydra-core.pod
Environment=HYDRA_AGENT_HOST=0.0.0.0
Environment=HYDRA_AGENT_PORT=9602
Environment=HYDRA_AGENT_NODE_NAME=p100
Environment=HYDRA_AGENT_LLAMA_URL=http://192.168.122.21:8086
Environment=HYDRA_AGENT_STORE_HOST=localhost
Environment=HYDRA_AGENT_STORE_PORT=9500
Environment=HYDRA_AGENT_DEBUG_HTTP_PORT=9622
Label=component=agent
Label=node=p100
HealthCmd=["/bin/bash", "-c", "exec 3<>/dev/tcp/localhost/9622"]
HealthInterval=10s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=5s
Notify=healthy

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
