[Unit]
Description=Hydra Agent RTX
BindsTo=hydra-core-pod.service
Requires=hydra-store.service
After=hydra-core-pod.service hydra-store.service

[Container]
ContainerName=hydra-agent-rtx
Image=localhost/hydra-agent:latest
Pod=hydra-core.pod
Environment=HYDRA_AGENT_HOST=0.0.0.0
Environment=HYDRA_AGENT_PORT=9601
Environment=HYDRA_AGENT_NODE_NAME=rtx
Environment=HYDRA_AGENT_LLAMA_URL=http://localhost:8080
Environment=HYDRA_AGENT_STORE_HOST=localhost
Environment=HYDRA_AGENT_STORE_PORT=9500
Environment=HYDRA_AGENT_DEBUG_HTTP_PORT=9611
HealthCmd=["/bin/bash", "-c", "exec 3<>/dev/tcp/localhost/9611"]
HealthInterval=10s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=5s
Notify=healthy

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
