[Unit]
Description=Hydra Coordinator
BindsTo=hydra-core-pod.service
Requires=hydra-store.service
After=hydra-core-pod.service hydra-store.service

[Container]
ContainerName=hydra-coordinator
Image=localhost/hydra-coordinator:latest
Pod=hydra-core.pod
Environment=HYDRA_COORD_HOST=0.0.0.0
Environment=HYDRA_COORD_PORT=9000
Environment=HYDRA_COORD_STORE_HOST=localhost
Environment=HYDRA_COORD_STORE_PORT=9500
Environment=HYDRA_COORD_LOG_LEVEL=DEBUG
Environment=HYDRA_COORD_RUN_MODE=concurrency
Environment=HYDRA_COORD_LLAMA_REQUEST_TIMEOUT_S=1800
EnvironmentFile=%h/.config/containers/systemd/hydra-coordinator.env
Label=component=coordinator
HealthCmd=["/bin/bash", "-c", "exec 3<>/dev/tcp/localhost/9000"]
HealthInterval=10s
HealthRetries=3
HealthStartPeriod=20s
HealthTimeout=5s
Notify=healthy

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
