[Unit]
Description=NVIDIA DCGM Exporter
BindsTo=infra-host-pod.service
After=infra-host-pod.service

[Container]
ContainerName=infra-nvidia-exporter
Image=nvidia/dcgm-exporter:latest
Pod=infra-host.pod
AddCapability=SYS_ADMIN
AddDevice=nvidia.com/gpu=all
Exec=-a :9835
HealthCmd=["/usr/bin/bash", "-c", "exec 3<>/dev/tcp/localhost/9835"]
HealthInterval=15s
HealthRetries=3
HealthStartPeriod=10s
HealthTimeout=5s

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
