[Unit]
Description=Grafana Promtail
BindsTo=infra-host-pod.service
Requires=infra-loki.service
After=infra-host-pod.service infra-loki.service

[Container]
ContainerName=infra-promtail
Pod=infra-host.pod
Image=grafana/promtail:3.4
Volume=/mnt/WorkDisk/Workplace/hydra_vortex/infra/promtail/promtail-config.yml:/etc/promtail/promtail-config.yml:ro
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
Volume=/mnt/containers/:/mnt/containers/:ro
Volume=promtail-positions.volume:/var/lib/promtail
Exec=-config.file=/etc/promtail/promtail-config.yml

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
