[Unit]
Description=llama-server RTX

[Container]
ContainerName=llama-rtx
Image=localhost/llama-rtx:latest
PublishPort=8080:8080
AddDevice=nvidia.com/gpu=all
AddCapability=SYS_ADMIN
Environment=NVIDIA_VISIBLE_DEVICES=all
Environment=NVIDIA_DRIVER_CAPABILITIES=compute,utility
SecurityLabel=disable
IPC=host
CPUSet=4-11
Memory=28G
MemorySwap=36G
Volume=/mnt/WorkDisk/Workplace/hydra_vortex/infra/llama-rtx-node/init:/init:ro
Volume=/mnt/WorkDisk/Workplace/hydra_vortex/src/llama-cpp/build_sm120:/llama:ro
Volume=/mnt/SSD:/models:ro
Volume=/mnt/SSD/kv_slots:/slots
WorkingDir=/llama
Entrypoint=["/bin/bash", "/init/verify_and_start.sh"]
Environment=LLAMA_CHAT_TEMPLATE_KWARGS={"preserve_thinking": true}
Exec=llama-server -m /models/Qwopus3.6-35B-A3B-v1-APEX-MTP-I-Balanced.gguf --chat-template-file /models/qwen3.6_merged_template.jinja --slot-save-path /slots/ --host 0.0.0.0 --port 8080 --ctx-size 360000 --temp 0.86 --repeat-penalty 1.06 --top-k 20 --top-p 0.95 --flash-attn on --cache-type-v q8_0 --cache-type-k q8_0 --kv-unified --log-prefix --log-colors on --metrics --slots --perf --props --log-verbosity 4 --cont-batching --parallel 2 --cache-prompt --cache-reuse 64 --prio 3 --prio-batch 1 --n-cpu-moe 32 --n-gpu-layers all --context-shift --slot-prompt-similarity 0.6 --reasoning on --jinja --rope-scaling yarn --rope-scale 12 --yarn-orig-ctx 32768 --timeout 1800 --spec-type draft-mtp --spec-draft-n-max 3 --rpc-port 9501

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
